.footer-container{
    position: relative;

}
.footer-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    opacity: .99;
}

.footer-logo-col img{
width: 100%;
height: auto;
padding-top: 1rem;

}
.address-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
}
.footer-address-col{
    padding-top: 1%;
    padding-right: 5%;
}
.footer-contact-col{
    padding-top: 1%;
    padding-right: 5%;
}

.row-display-container{
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-between !important;
}
.footer-contact-container{
    display: flex;
    flex-direction: column;
}
.footer-social-container{
    padding-top: 1.5%;

    display: flex;
    flex-direction: row;
}

.address-heading{
    color: #fff;
    position: relative;
    padding-bottom: 1% ;
    font-weight: lighter;
}
.address-heading::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.location-link{
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin-top: 1.5%  ;
    width: fit-content;
    font-weight: lighter;
    
}
.location-link:hover{
    color: #1674EA
;
}
.location-icon{
    font-size: 1.5rem;
    padding-right: 5%;

}
.mail-icon{
    font-size: 1.8rem;
}

.footer-designer-sign{
    margin-top: 0%;
    padding-top: 1%;
    border-top: 1px solid ;
    font-weight: lighter;
}
.side-social-icon{
    font-size: .5rem;
    height: 1rem ;
    margin-top: -.2%;
    width: 1.2rem;
}
.big-icon{
    font-size: 1.8rem;
    padding-right: .5rem !important;
    margin-top: -1%;
}
@media screen and (max-width: 991px) {

    .footer-container{
        font-size: .8em !important;
    }
    .footer-container h5{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 576px){
    .footer-container{
        font-size: .6em !important;
    }
}